<!DOCTYPE html>
<html>
    <head>
      <link rel="icon" type="image/x-icon" href="{{ asset('build/img/logowt.svg') }}">
      <meta charset="UTF-8">
        <title>Access Denied</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body class="bg-[#74B0E1]">
        <nav class="flex items-center justify-between p-6 bg-white border-0">
            <div class="flex items-center flex-shrink-0 text-[#74B0E1] mr-6">
              <a class="font-semibold text-2xl  mb-1 " href="{{ path('home')}}">Techtonic</a>
            </div>
            <div class="block">
            </div>
            <div class="w-full block flex-grow lg:flex lg:items-center lg:w-auto">
              <div class="text-md lg:flex-grow">
                  <a href="{{ path('product')}}" class="block mt-8 lg:inline-block lg:mt-0 text-gray-400 hover:text-[#74B0E1] mr-6">
                      Products
                  </a>
              </div>
              <div>
                {% if is_granted('ROLE_USER') or is_granted('ROLE_ADMIN') %}
                  <div class="flex justify-center">
                    {% if cart is not null and cart.productCarts is not empty and is_granted('ROLE_USER') %}
                      <span class="relative flex h-2 w-2 -ml-4 pr-4">
                        <span class="animate-ping absolute  h-2  w-2 rounded-full bg-sky-400 opacity-75"></span>
                        <span class="absolute rounded-full  h-2 w-2 bg-sky-500"></span>
                      </span>
                      {% endif %}
                <a href="{{ path('cart')}}" class="inline-block relative mr-6 w-8 h-8 text-gray-400">
                  <img src="{{ asset('build/img/cart.png') }}" style="width:30px;">
                  </a>
        
        
                  <a href="{{ path('orders')}}" class="inline-block relative mr-6 w-8 h-8 text-gray-400">
                  <img src="{{ asset('build/img/order.png') }}" style="width:30px;">
                  </a>
        
                    <a href="{{ path('user')}}" class="inline-block mr-6 w-8 h-8">
                      <img src="{{ asset('build/img/user.png') }}" style="width:30px">
                    </a>
                  {% else %}
                    <a href="{{ path('login')}}" class="inline-block mr-6 w-8 h-8">
                      <img src="{{ asset('build/img/user.png') }}" style="width:30px">
                    </a>
                    </div>
                  {% endif %}
        
              </div>
            </div>
          </nav>
        <main class="container mx-auto mt-8">
          <div class="bg-white p-8 rounded-lg shadow-lg">
            <div class="flex justify-center">
            <h1 class="text-4xl font-semibold mb-4 text-[#74B0E1] m-8">Access Denied</h1>
            </div>
            <div class="flex justify-center m-8 flex-col items-center">
                <img src="{{ asset('build/img/sad.png') }}" style="width:75px">

            <p class="text-xl text-gray-400 m-8">You must be logged in to access this resource.</p>
            </div>
            <div class="flex justify-center gap-8">
            <a class="bg-[#74B0E1] text-white py-2 px-4 rounded-lg hover:bg-blue-600" href="/api/login">Oh no, log me in!</a>
            <a class="bg-[#74B0E1] text-white py-2 px-4 rounded-lg hover:bg-blue-600" href="/api/register">I'm new here, register me</a>
            </div>
          </div>
        </main>
      </body>
</html>
